{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Создание дисциплины - Туляков А.М. НИУ МЭИ</title>
	<meta name="description" content="MPEI: DB of student Tulyakov A. M.">
	{% include 'default_css_js.html' %}
</head>
<body>
    <section class="main-body bg-dark">
		{% include 'navbar.html' %}
            <div class="sem-header" style="">
                <a class="btn btn-dark semesters-def" href="/semesters?id={{semester}}" role="button" style="margin: 10px;"><< Назад</a>
            </div>
<!--            <a class="btn btn-dark semesters-def" href="/semesters?id={{semester}}" role="button" style="margin-bottom: 0px;"><< Назад</a>-->
            <div class="card semesters-def" style="width:695px;">
            <h3 class="semesters-def">Создать дисциплину</h3>
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong> Дисциплина с этим именем уже существует!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form method="post" style="margin-left: 15px; width:650px;">
              {% csrf_token %}
                <div class="form-group">
                    <label class="">Название</label>
                    <input name="name" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="">Форма контроля</label>
<!--                    <input name="control" type="text" class="form-control">-->
                    <select class="form-select" name="control" id="controlSelector">
                        {% for c in control_forms %}
                        <option value="{{c}}">{{c}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Преподаватель (семинары)</label>
                    <input name="p_teacher" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="">Главный преподаватель (лектор)</label>
                    <input name="l_teacher" type="text" class="form-control">
                </div>
                <div class="form-group" hidden>
                    <label class="" hidden>Семестр</label>
                    <input name="semester" type="text" class="form-control" value="{{semester}}" hidden>
                </div>
                <div style="height:10px;"></div>
                <button class="btn btn-success" type="submit" style="margin-bottom: 10px;">Создать</button>
            </form>
            </div>
    </section>
</body>
</html>