{% load static %}
<div class="d-flex">
    {% if semesters %}
    <button type="button" class="btn btn-success semesters-def" data-toggle="modal" data-target="#createReport">
        Добавить отчёт
    </button>
    {% include 'semesters/report_create.html' %}

    {% if reports %}
    <button type="button" class="btn btn-danger semesters-def" data-toggle="modal" data-target="#deleteReport">
        Удалить отчёт
    </button>
    {% include 'semesters/report_delete.html' %}
    <button type="button" class="btn btn-danger semesters-def" data-toggle="modal" data-target="#deleteAllReports">
        Удалить все
    </button>
    {% include 'semesters/report_delete_all.html' %}
    {% else %}
    <button type="button" class="btn btn-danger semesters-def disabled" data-toggle="modal" data-target="#deleteReport">
        Удалить отчёт
    </button>
    {% include 'semesters/report_delete.html' %}
    <button type="button" class="btn btn-danger semesters-def disabled" data-toggle="modal" data-target="#deleteAllReports">
        Удалить все
    </button>
    {% include 'semesters/report_delete_all.html' %}
    {% endif %}

    {% else %}
    <button type="button" class="btn btn-success semesters-def disabled" data-toggle="modal" data-target="#createReport">
        Добавить отчёт
    </button>
    {% include 'semesters/report_create.html' %}
    <button type="button" class="btn btn-danger semesters-def disabled" data-toggle="modal" data-target="#deleteReport">
        Удалить отчёт
    </button>
    {% include 'semesters/report_delete.html' %}
    <button type="button" class="btn btn-danger semesters-def disabled" data-toggle="modal" data-target="#deleteAllReports">
        Удалить все
    </button>
    {% include 'semesters/report_delete_all.html' %}
    {% endif %}
</div>
<table class="table table-hover table-bordered page-element session-table">
    <thead class="">
        <tr>
            <th class="align-middle" style="max-width:50px;">№</th>
            <th class="align-middle">Семестр</th>
            <th class="align-middle">Тип отчёта</th>
            <th class="align-middle">Дисциплина</th>
            <th class="align-middle" style="max-width:132px;">Руководитель (предприятие)</th>
            <th class="align-middle" style="max-width:130px;">Руководитель (МЭИ)</th>
            <th class="align-middle" style="width:100px;max-width:100px;">Роль</th>
            <th class="align-middle">Место практики</th>
            <th class="align-middle">Действия<span class="badge bg-danger"> v3.0.0</span></th>
        </tr>
    </thead>
    <tbody>
        {% if reports  %}
        {% for r in reports %}
        <tr>
            <td>{{r.number}}</td>
            <td>{{r.semester.name}}</td>
            <td>{{r.type}}</td>
            <td>{{r.discipline}}</td>
            <td>{{r.leader}}</td>
            <td>{{r.leader_mpei}}</td>
            <td>{{r.role}}</td>
            <td>{{r.place}}</td>
            <td><a href="/" class="disabled">Редактировать</a><br><a href="/" class="disabled">Файлы</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="9">Нет отчётов!</td>
        </tr>
    {% endif %}
    </tbody>
</table>