<div class="modal fade" id="semEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оценки за КМ: редактирование</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post" style="margin-left: 15px; width:400px;">
              {% csrf_token %}
                <div class="form-group">
                    <label class="">Контрольное мероприятие</label>
                    <select class="form-control" name="km" id="kmSelector">
                        {% for e in events %}
                        <option value="{{e.number}}">КМ-{{e.number}}: {{e.desc}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Оценка</label>
                    <input name="mark" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="">Кол-во пересдач</label>
                    <input name="ret_count" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="">Оценка за пересдачу (-1 если нет)</label>
                    <input name="ret_mark" type="text" class="form-control">
                </div>
                <div class="form-group" hidden>
                    <label class="" hidden>Дисциплина</label>
                    <input name="discipline" type="text" class="form-control" value="{{discipline.name}}" hidden>
                </div>
                <div class="form-group" hidden>
                    <label class="" hidden>Семестр</label>
                    <input name="sem" type="text" class="form-control" value="{{semester.number}}" hidden>
                </div>
                <div class="form-group" hidden>
                    <label class="" hidden>Раздел изменения</label>
                    <input name="subject" type="text" class="form-control" value="SEMESTER" hidden>
                </div>
                <div style="height:15px;"></div>
                <button class="btn btn-primary" type="submit">Изменить</button>
            </form>
      </div>
<!--      <div class="modal-footer">-->
<!--&lt;!&ndash;        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>&ndash;&gt;-->
<!--        <button class="btn btn-success" type="submit">Создать</button>-->
<!--      </div>-->
    </div>
  </div>
</div>