{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Профиль - Туляков А.М. НИУ МЭИ</title>
	<meta name="description" content="MPEI: DB of student Tulyakov A. M.">
	{% include 'default_css_js.html' %}
</head>
<body>
    <section class="main-body">
		{% include 'navbar.html' %}
        <div class="wrapper" style="background-color:black;">
            <div class="sidebar" style="min-width: 240px;">
				<div class="list-group sidebar-nav">
  					<a href="#semesters_db" class="list-group-item list-group-item-action active sidebar-nav-active" data-toggle="list" role="tab">
						Управление семестрами
					</a>
					<a href="#reports_db" class="list-group-item list-group-item-action sidebar-nav-active" data-toggle="list" role="tab">
						Управление отчётами
					</a>
					<a href="#course_works_db" class="list-group-item list-group-item-action sidebar-nav-active" style="padding-right:0px;" data-toggle="list" role="tab">
						Курсовые работы (проекты)
					</a>
					<a href="#profile_info" class="list-group-item list-group-item-action sidebar-nav-active" data-toggle="list" role="tab">
    					Информация о профиле
  					</a>
				</div>
			</div>
            <div class="main-container">
  				<div class="card main-card bg-dark">
  					<div class="tab-content" id="tab_content">
  						<div class="tab-pane active" id="semesters_db" role="tabpanel">
							<div class="card semesters-def">
                            <h3 class="semesters-def">Семестры</h3><hr style="margin: 0px;">
                            {% include 'semesters/semesters.html' %}
							</div>
  						</div>
						<div class="tab-pane" id="profile_info" role="tabpanel">
							<p><h3 class="semesters-def">Профиль</h3></p>
  						</div>
  						<div class="tab-pane" id="reports_db" role="tabpanel">
							<div class="card semesters-def">
                            <h3 class="semesters-def">Отчёты</h3><hr style="margin: 0px;">
                            {% include 'semesters/reports.html' %}
							</div>
  						</div>
  						<div class="tab-pane" id="course_works_db" role="tabpanel">
							<div class="card semesters-def">
                            <h3 class="semesters-def">Курсовые работы (проекты) КР/КП</h3><hr style="margin: 0px;">
                            {% include 'semesters/course_works.html' %}
							</div>
  						</div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% include 'footer.html' %}
</body>
</html>