{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Регистрация - Туляков А.М. НИУ МЭИ</title>
	<meta name="description" content="MPEI: DB of student Tulyakov A. M.">
	{% include 'default_css_js.html' %}
</head>
<body>
    <section class="main-body">
		{% include 'navbar.html' %}
            <h2>Sign Up</h2><br>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Sign Up</button>
            </form>
    </section>
</body>
</html>